.sidebar {
    width: 18%;
}
.sidebar_items {
    padding: 4px 20px;
    display: flex;
    align-items: center;
    gap:4px;
    
    &:hover {
        text-decoration: underline;
        background-color: red;
      }
  
    ul {
      list-style-type: none;
      padding: 0;
      &:hover {
        text-decoration: underline;
        background-color: red;
      }
      li {
        // margin: 10px 0;
        display: flex;
        align-items: center;
  
        img {
          margin-right: 10px;
        }
        &:hover {
            text-decoration: underline;
            background-color: red;
          }
  
        a {
          text-decoration: none;
  
  
          
        }
      }
    }
}