@import "../../styles/breakpoint.scss";

.personal-info {
    margin: 0 auto;
    padding: 30px 0px;

    h2 {
        padding: 10px 0px;
    }

    @include respond-to(xs) {
        padding: 10px 20px
    }

    h2 {
        font-size: 16px;
        color: #2f4f82;

    }

    .info-grid {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        // border-bottom: 0.2px solid gray;
        padding-bottom: 20px;

        @include respond-to(xs) {
            flex: 0 1 calc(50% - 10px);
            display: flex;
            flex-direction: row;
        }

        .info-item {
            flex: 0 1 calc(15% - 10px);

            // min-width: 250px;
            @include respond-to(xs) {
                flex: 0 1 calc(50% - 10px);

            }

            @include respond-to(md) {
                flex: 0 1 calc(15% - 10px);

            }

            h3 {
                font-size: 12px;
                color: #6b7280;
                margin-bottom: 5px;
            }

            p {
                font-size: 14px;
                color: #374151;
                margin: 0;
            }

        }

        .info-grid>*:last-child {
            border-bottom: none;
        }
    }


}

